@property --gradient-percent-1 {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@property --gradient-percent-2 {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@property --dot-width {
  syntax: "<length>";
  initial-value: 16px;
  inherits: true;
}

.timeline {
  --gradient: rgb(var(--rgb-gradient, 33 33 33) / 1) 50%,
    rgb(var(--rgb-gradient, 33 33 33) / 0) 100%;
  --stroke-weight: 0.35rem;
  --timeline-padding: 20rem;
  --dot-width: 1.5rem;

  padding: 0 0 0 calc(0.5 * var(--dot-width));
  display: flex !important;

  ol {
    position: relative;
    gap: calc(0.5 * var(--dot-width));

    li {
      --gradient-percent-1: 0%;
      --gradient-percent-2: 0%;
      --hatched-step: 6px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: calc(0.25 * var(--dot-width));
        background-image: linear-gradient(
          180deg,
          currentColor var(--gradient-percent-1),
          rgb(250 250 249) var(--gradient-percent-2)
        );

        transition: --gradient-percent-1 0.5s, --gradient-percent-2 1s, color 0.5s;
        width: var(--stroke-weight);
      }

      &.active {
        z-index: 10;
        --gradient-percent-1: 100%;
        --gradient-percent-2: 140%;
        transition: --gradient-percent-1 1s, --gradient-percent-2 0.5s;
      }

      &.hatched {
        &:not(.active):before {
          color: white;
        }
      
        &:before {
          background-image: repeating-linear-gradient(
            -45deg,
            currentColor,
            currentColor var(--hatched-step),
            transparent var(--hatched-step),
            transparent calc(var(--hatched-step) * 2)
          );          
        }
      }

      .dot {
        height: var(--dot-width);
        width: var(--dot-width);
        left: calc(-0.5 * var(--dot-width) + (0.5 * var(--stroke-weight)));
        z-index: 20;
        transition: --dot-width 0.3s;
      }

      > .textbubble {
        display: flex;
        padding: 1rem;
        transition: all 0.3s, transform 0.15s;

        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }
    }
  }
}

/* VERTICAL */
@media screen and (width < 1780px) {
  .timeline {
    width: 100%;
    min-height: 20rem;
    margin: 0;
    // flex-direction: column;

    li {
      .dot {
        top: calc(-0.5 * var(--dot-width));
      }

      .textbubble {
        left: calc(1.25rem + var(--stroke-weight));
        top: 0%;
        width: calc(
          100% - 2 * (1.25rem + var(--stroke-weight)) + var(--stroke-weight)
        ) !important;
      }

      &:not(.active) {
        z-index: 1;

        .textbubble {
          text-align: center;
          align-items: center;
          justify-content: center;

          > button, > div {
            display: none;
          }

          time,
          h6 {
            color: rgb(250 250 249 / 0.4);
          }

          height: 100%;
          overflow: hidden;
          background-color: rgb(33 33 33 / 0.2);
          border-radius: 10px;
          border: 0.5rem dashed rgb(250 250 249 / 0.2);
          padding: 0.5rem;
        }

        &:not(:first-child) {
          margin-top: -4px;
          cursor: pointer;
        }

        &:before {
          background-image: linear-gradient(
            180deg,
            currentColor var(--gradient-percent-1),
            rgb(250 250 249) var(--gradient-percent-2)
        );
        }
      }
    }
  }

  @media (width > 400px) {
    .timeline {
      --stroke-weight: 0.5rem;
      --dot-width: 1.75rem;
      padding: 0 0 0 5vw;

      li {
        .textbubble {
          left: calc(1.75rem + var(--stroke-weight));
          top: 0%;
          width: calc(
            100% - 2 * (1.75rem + var(--stroke-weight)) + var(--stroke-weight)
          ) !important;
        }
      }
    }
  }
  @media (width > 1024px) {
    .timeline {
    }
  }
}

/* HORIZONTAL */
@media screen and (width >= 1780px) {
  .timeline {
    --stroke-weight: 0.5rem;
    --dot-width: 1.25rem;
    padding: var(--timeline-padding) 0;
    position: relative;

    &:before,
    &:after {
      content: "";
      top: 0;
      bottom: 0;
      position: absolute;
    }

    &:before {
      left: 0;
      mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
    }
    &:after {
      right: 0;
      mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
    }

    ol {
      position: relative;

      &:before,
      &:after {
        // content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10%;
      }

      &:before {
        right: 0;
        background: linear-gradient(270deg, var(--gradient));
      }

      &:after {
        left: 0;
        background: linear-gradient(90deg, var(--gradient));
      }

      li {
        height: var(--stroke-weight);

        &:before {
          background-image: linear-gradient(
            90deg,
            currentColor var(--gradient-percent-1),
            rgb(250 250 249) var(--gradient-percent-2)
          );
          height: var(--stroke-weight);
          width: 100%;
        }

        .dot {
          left: calc(-0.5 * var(--dot-width));
          transition: transform 0.2s;
        }

        .textbubble {
          padding: 1rem;
        }

        &:not(:first-child) {
          margin-left: -4px;
          cursor: pointer;
        }

        &:hover {
          --gradient-percent-1: 100%;
          --gradient-percent-2: 140%;
          transition: --gradient-percent-1 1s, --gradient-percent-2 0.5s;

          .textbubble {
            z-index: 10;
          }

          .dot {
            z-index: 20;
            --dot-width: 1.3rem;
          }
        }

        &:nth-child(even) {
          > .textbubble {
            bottom: 1.75rem;
            border-radius: 10px 10px 10px 0;

            &:before {
              top: 100%;
              border-width: 8px 8px 0 0;
              border-color: rgb(250 250 249) transparent transparent transparent;
            }
          }
          &:hover > .textbubble {
            bottom: 2.5rem;
            box-shadow: 0.4rem 0.4rem 1rem rgb(33 33 33 / 0.2);
          }
        }
        &:nth-child(odd) {
          & > .textbubble {
            top: 1.75rem;
            border-radius: 0 10px 10px 10px;

            &:before {
              top: -8px;
              border-width: 8px 0 0 8px;
              border-color: transparent transparent transparent rgb(250 250 249);
            }
          }
          &:hover > .textbubble {
            top: 2.5rem;
            box-shadow: 0.4rem -0.4rem 1rem rgb(33 33 33 / 0.2);
          }
        }
      }
    }
  }
}
