.page {
  @apply pt-20 md:pt-24 lg:pt-36;
  @apply pb-28 lg:pb-24 2xl:pb-12;

  @media screen and (height < 900px) {
    @apply pt-24 lg:pt-36;
    @apply pb-20 lg:pb-0 2xl:pb-12;
  }
}

.page\:profile {
  --picture-clamp: clamp(7.5rem, 15vw, 18rem);

  /* prettier-ignore */
  --base:
  	"pagetitle pagetitle" minmax(2rem, auto)
  	"photo     .        "
  	"photo     name     "
    "digest    digest   " auto
    "mailBtn   mailBtn  " auto
    "stats     stats    " 1fr
  / auto 1fr;

  /* prettier-ignore */
  --sm:
    "mailBtn mailBtn pagetitle pagetitle"
  	"photo   name    name      .        " 1fr
  	"digest  digest  digest    digest   " minmax(auto, 30vh)
  	"stats   stats   stats     stats    "
   / auto auto 1fr;

  /* prettier-ignore */
  --lg:
    "mailBtn mailBtn      pagetitle pagetitle"
    "photo   digest digest    digest   " 1fr
    "stats   stats  stats     stats    "
    ;

  /* prettier-ignore */
  --2xl:
  	"mailBtn overlap pagetitle" minmax(6rem, auto)
  	"photo   digest .        " 1fr
  	"stats   stats  stats    "
  / 1fr minmax(50rem, 1fr)  1fr;

  .stats {
    /* prettier-ignore */
    --stats: 
    "s1    empty   s2"
    "s3    empty   s4"
    /auto 1fr     auto;

    /* prettier-ignore */
    --stats-lg: 
    "s1   s2   s3   s4" 
    /1fr 1fr 1fr 1fr;
  }
}

.page\:stack {
  /* prettier-ignore */
  --base:
  	"pagetitle  " minmax(4rem, auto)
  	"tabs   " 
    "details      " 1fr
    / 1fr;

  /* prettier-ignore */
  --lg:
  	"pagetitle pagetitle" minmax(4rem, auto)
  	"tabs      details  " 1fr
  / 1fr        3fr;
}

.page\:timeline {
  /* prettier-ignore */
  --base:
  	"pagetitle pagetitle" minmax(4rem, auto)
  	"timeline  timeline " 1fr;
}

.page\:projects {
  /* prettier-ignore */
  --base:
  ".       pagetitle" minmax(4rem, auto)
  "index   index    " 9rem
  "desc    image    " 1fr
  "skills  skills   " minmax(4rem, auto)
  / 1fr minmax(24rem, 60vh);

  /* prettier-ignore */
  --md:
  ".     pagetitle"
  "index index    " 9rem
  "desc  image    " 1fr
  "skills  skills " minmax(6rem, auto)
  / 1fr minmax(24rem, 60vh);

  @media (orientation: portrait) {
    /* prettier-ignore */
    --base:
  	"index pagetitle" minmax(4rem, auto)
  	"desc  desc     " 1fr
  	"image image    " 1fr
    "skills  skills"  minmax(4rem, auto);

    /* prettier-ignore */
    --md:
  	"index pagetitle"
  	"desc  desc     " auto
  	"image image    " auto
    "skills  skills" minmax(6rem, auto);
  }
}

.page\:hobbies {
  /* prettier-ignore */
  --base:
  	"wheel pagetitle"
  	"wheel about    " 1fr
  / 1fr    1fr;
}

.page\:contact {
  /* prettier-ignore */
  --base:
  	"close   pagetitle"
    "copyBtn copyBtn  "
    "or      or       "
  	"form    form     " 1fr;

  /* prettier-ignore */
  form {
    --form: 
    	"title     title    " auto
    	"infos     infos    " auto
    	"firstname lastname " auto
    	"email     email    " auto
    	"phone     phone    " auto
    	"message   message  " 1fr
    	"submit    submit   " auto
      /1fr       1fr     ;
  }
}

.page\:error {
  /* prettier-ignore */
  --base:
  	"close pagetitle"
  	"gif   gif      " 1fr;
}
